# MySQL Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=xgundem

# Groq API Key
GROQ_API_KEY=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

# Flask App Secret (Session'lar için)
FLASK_SECRET_KEY=super_gizli_anahtar_degistirin

# Süper Admin Bilgileri
SUPER_ADMIN_USER=admin
SUPER_ADMIN_PASS=superadmin123
